<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-1">
      <a class="navbar-brand animate bounceIn" href="#"><i class="fas fa-map-marker-alt"></i> EasyKiel</a>
    </div>
    <div class="col">
      <nav class="nav justify-content-end">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" [routerLink]="['/dashboard']">My Account</a>
        <a class="nav-link" href="https://github.com/AsfandyarHashmi/easykiel" target="_none">GitHub</a>
        <a class="nav-link" href="#">Support</a>
      </nav>
    </div>
  </div>
</div>
