<div class="container">
  <h2 class="text-center mt-5">Featured Guides</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card clickable" [routerLink]="['/guide/example']">
        <img src="assets/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">How to register with Kiel City</h5>
          <p class="card-text"><small class="text-muted"><i class="fas fa-check-circle"></i> EasyKiel Official</small></p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Find your department building at CAU</h5>
          <p class="card-text"><small class="text-muted"><i class="fas fa-check-circle"></i> EasyKiel Official</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A great tour of Laboe</h5>
          <p class="card-text"><small class="text-muted"><i class="fas fa-check-circle"></i> EasyKiel Official</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
