<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <p><small><b>Guide</b></small><br>EasyKiel Official</p>
          <p><small><b>Updated</b></small><br>1 Jan 2019</p>
          <p><small><b>Status</b></small><br>Authenticated</p>
          <p><small><b>Upvotes</b></small><br>124</p>
          <a href="#" class="btn btn-outline-success">Upvote</a>&nbsp;
          <a href="#" class="btn btn-outline-danger">Report</a>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
          <p class="card-text"><small><b>johndoe</b></small><br>It's great!<br><small class="text-muted">1 Jan 2019</small></p><hr>
          <p class="card-text"><small><b>auth123</b></small><br>It needs to be updated.<br><small class="text-muted">2 Jan 2019</small></p>
          <a href="#" class="btn btn-primary btn-block">Comment</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h1>How to register at Kiel Rathaus</h1>
      <img class="card-img-top mb-2" src="https://via.placeholder.com/1024x500">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Step 1: Gather documents</h5>
          <p class="card-text">You must have all documents that you need before registeration at the Rathaus.</p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Step 2: Make a Termin (Appointment)</h5>
          <p class="card-text">Registration at the Rathaus without an appointment is not possible. Check your E-mail for
            an appointment.</p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Step 3: Go to location</h5>
          <p class="card-text">The office is located at <b>Sophienblatt 12</b></p>
          <a href="#" class="btn btn-primary">Plot route for me</a>
        </div>
      </div>
    </div>
  </div>
</div>
